.circle-container {
    display: flex;
    justify-content: center;
    background-color: #eaeaed;
}

.circle-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.search-input {
    width: 40%;
    margin-left: 60%;
    margin-bottom: 2%;
}

/* Define other styles as needed */